<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand" href="/">{{ site.name | downcase }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if page.slug == "about" %} class="active"{% endif %}><a href="/index.html">O mně</a></li>
                <li{% if page.slug == "how" %} class="active"{% endif %}><a href="/jak-objednat.html">Jak objednat</a></li>
                <li{% if page.slug == "opravy" %} class="active"{% endif %}><a href="/opravy.html">Opravy</a></li>
                <li><a href="https://www.facebook.com/chovateskepotrebyGrema/">Facebook</a></li>
            </ul>
        </div>
    </div>
</nav>
