<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for category in site.data.products  %}
    {% if category.groups %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ category.slug }}" aria-expanded="false" aria-controls="collapse-{{ category.slug }}">
            <h4 class="panel-title">
                <a href="">{{ category.title }}</a>
            </h4>
        </div>
        <div id="collapse-{{ category.slug }}" class="panel-collapse collapse{% if page.cat_slug == category.slug %} in{% endif%}" role="tabpanel" aria-labelledby="cat-{{ category.slug }}">
            <div class="list-group">
            {% assign sorted_groups = (category.groups | sort: 'title') %}
            {% for group in sorted_groups %}{% if group.products or group.has_index %}<a href="/products/{{ category.slug }}/{{ group.slug }}" class="list-group-item{% if group.slug == page.group_slug %} active{% endif %}">{{ group.title }}</a>{% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>

