html {
    overflow-y: scroll; 
}

body {
    padding-top: 70px;
}



.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}








.thumbnail img {
    width: 261px !important;
    height: 163px !important;
}

.thumbnail {
    background-color: #d28b59;
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}



.caption {
    padding: 10px;
    min-height: 140px;
}

.caption-product {
    min-height: 74px;
}

.caption a {
    font-size: 16px;
 }

.caption > .btn{
    color: #000;
}

.caption a {
    color: #FFEADB;
}






#pricelist {
    margin-top: 30px;
}




footer {
    margin: 50px 0;
}


#social {

}

#social button {
    width : 32px;
    height :32px;
    color : #eee;
}

.color_facebook {background-color: #425695;}
.color_twitter {background-color: #55ACEE;}
.color_googleplus {background-color: #DD4B39;}