---
layout: default
css:
 - /static/css/default.css
---

{% if page.has_index %}

<div class="media">
  <div class="media-body">
    {{ content | markdownify }}
  </div>
{% if page.group_image %}
  <div class="media-right media-top">
    <a data-toggle="modal" data-target=".bs-modal-sm" >
        <img class="media-object" alt="{{ page.title }}" src="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ page.group_slug }}_tn.jpg">
    </a>
  </div>
{% endif %}
</div>

{% if page.group_image %}
<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Product photo" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <a data-dismiss="modal" data-target=".bs-modal-sm" >
            <img class="media-object" alt="{{ page.title }}" src="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ page.group_slug }}.jpg">
        </a>
    </div>
  </div>
</div>
{% endif %}
{% endif %}


<div class="row">

{% for product in page.products %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ product.slug }}.html"><img src="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ product.slug }}.jpg" alt="{{ product.title }}"></a>
            <div class="caption caption-product">
                <a href="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ product.slug }}.html">{{ product.title }}</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
