---
layout: default
---

{% if page.has_index %}

<div class="media">
  <div class="media-body">
    {{ content | markdownify }}
  </div>
{% if page.has_image %}
  <div class="media-right media-top">
    <a data-toggle="modal" data-target=".bs-modal-sm" >
        <img class="media-object" alt="{{ page.title }}" src="/products/{{ page.cat_slug }}/{{ page.slug }}/index_tn.jpg">
    </a>
  </div>
{% endif %}
</div>

{% if page.has_image %}
<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Product photo" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <a data-dismiss="modal" data-target=".bs-modal-sm" >
            <img class="media-object" alt="{{ page.title }}" src="/products/{{ page.cat_slug }}/{{ page.slug }}/index.jpg">
        </a>
    </div>
  </div>
</div>
{% endif %}
{% endif %}


<div class="row">
{% for product in page.products %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="/products/{{ page.cat_slug }}/{{ page.slug }}/{{ product.slug }}.html">
                {% if product.has_image %}
                <img src="/products/{{ page.cat_slug }}/{{ page.slug }}/{{ product.slug }}.jpg" alt="{{ product.title }}">
                {% else %}
                <img src="/static/img/default_tn.jpg" alt="{{ product.title }}">
                {% endif %}
            </a>
            <div class="caption caption-product">
                <a href="/products/{{ page.cat_slug }}/{{ page.slug }}/{{ product.slug }}.html">{{ product.title }}</a>
            </div>
        </div>
    </div>{% endfor %}
</div>
