---
layout: default
css:
 - /static/css/default.css
---

<div class="media">
  <div class="media-body">
    {{ content }}
  </div>
  <div class="media-right media-top">
    <a data-toggle="modal" data-target=".bs-modal-sm" >
        {% if page.has_image %}
        <img class="media-object" alt="{{ page.title }}" src="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ page.slug }}_tn.jpg">
        {% else %}
        <img class="media-object" alt="{{ page.title }}" src="/assets/default_tn.jpg">
        {% endif %}
    </a>
  </div>
</div>


<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Product photo" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <a data-dismiss="modal" data-target=".bs-modal-sm" >
        {% if page.has_image %}
            <img class="media-object" alt="{{ page.title }}" src="/{{ page.cat_slug }}/{{ page.group_slug }}/{{ page.slug }}.jpg">
        {% else %}
            <img class="media-object" alt="{{ page.title }}" src="/assets/default.jpg">
        {% endif %}
        </a>
    </div>
  </div>
</div>


{% if page.pricing %}
<table id="pricelist" class='table'>
<tr><th>Varianta</th><th>Cena</th></tr>
{% for p in page.pricing %}<tr><td>{{ p.variant }}</td><td>{{ p.price }}&nbsp;Kč</td></tr>
{% endfor %}
</table>
{% endif %}
